/*!
 * Milligram v1.3.0
 * https://milligram.github.io
 *
 * Copyright (c) 2018 CJ Patoilo
 * Licensed under the MIT license
 */

* {
  box-sizing: inherit;
  &:after, &:before {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #606c76;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}

blockquote {
  border-left: 0.3rem solid #d1d1d1;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
  *:last-child {
    margin-bottom: 0;
  }
}

.button, button {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input {
  &[type='button'], &[type='reset'], &[type='submit'] {
    background-color: #9b4dca;
    border: 0.1rem solid #9b4dca;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.button {
  &:focus, &:hover {
    background-color: #606c76;
    border-color: #606c76;
    color: #fff;
    outline: 0;
  }
}

button {
  &:focus, &:hover {
    background-color: #606c76;
    border-color: #606c76;
    color: #fff;
    outline: 0;
  }
}

input {
  &[type='button'] {
    &:focus, &:hover {
      background-color: #606c76;
      border-color: #606c76;
      color: #fff;
      outline: 0;
    }
  }
  &[type='reset'] {
    &:focus, &:hover {
      background-color: #606c76;
      border-color: #606c76;
      color: #fff;
      outline: 0;
    }
  }
  &[type='submit'] {
    &:focus, &:hover {
      background-color: #606c76;
      border-color: #606c76;
      color: #fff;
      outline: 0;
    }
  }
}

.button[disabled], button[disabled] {
  cursor: default;
  opacity: .5;
}

input {
  &[type='button'][disabled], &[type='reset'][disabled], &[type='submit'][disabled] {
    cursor: default;
    opacity: .5;
  }
}

.button[disabled] {
  &:focus, &:hover {
    background-color: #9b4dca;
    border-color: #9b4dca;
  }
}

button[disabled] {
  &:focus, &:hover {
    background-color: #9b4dca;
    border-color: #9b4dca;
  }
}

input {
  &[type='button'][disabled] {
    &:focus, &:hover {
      background-color: #9b4dca;
      border-color: #9b4dca;
    }
  }
  &[type='reset'][disabled] {
    &:focus, &:hover {
      background-color: #9b4dca;
      border-color: #9b4dca;
    }
  }
  &[type='submit'][disabled] {
    &:focus, &:hover {
      background-color: #9b4dca;
      border-color: #9b4dca;
    }
  }
}

.button.button-outline, button.button-outline {
  background-color: transparent;
  color: #9b4dca;
}

input {
  &[type='button'].button-outline, &[type='reset'].button-outline, &[type='submit'].button-outline {
    background-color: transparent;
    color: #9b4dca;
  }
}

.button.button-outline {
  &:focus, &:hover {
    background-color: transparent;
    border-color: #606c76;
    color: #606c76;
  }
}

button.button-outline {
  &:focus, &:hover {
    background-color: transparent;
    border-color: #606c76;
    color: #606c76;
  }
}

input {
  &[type='button'].button-outline {
    &:focus, &:hover {
      background-color: transparent;
      border-color: #606c76;
      color: #606c76;
    }
  }
  &[type='reset'].button-outline {
    &:focus, &:hover {
      background-color: transparent;
      border-color: #606c76;
      color: #606c76;
    }
  }
  &[type='submit'].button-outline {
    &:focus, &:hover {
      background-color: transparent;
      border-color: #606c76;
      color: #606c76;
    }
  }
}

.button.button-outline[disabled] {
  &:focus, &:hover {
    border-color: inherit;
    color: #9b4dca;
  }
}

button.button-outline[disabled] {
  &:focus, &:hover {
    border-color: inherit;
    color: #9b4dca;
  }
}

input {
  &[type='button'].button-outline[disabled] {
    &:focus, &:hover {
      border-color: inherit;
      color: #9b4dca;
    }
  }
  &[type='reset'].button-outline[disabled] {
    &:focus, &:hover {
      border-color: inherit;
      color: #9b4dca;
    }
  }
  &[type='submit'].button-outline[disabled] {
    &:focus, &:hover {
      border-color: inherit;
      color: #9b4dca;
    }
  }
}

.button.button-clear, button.button-clear {
  background-color: transparent;
  border-color: transparent;
  color: #9b4dca;
}

input {
  &[type='button'].button-clear, &[type='reset'].button-clear, &[type='submit'].button-clear {
    background-color: transparent;
    border-color: transparent;
    color: #9b4dca;
  }
}

.button.button-clear {
  &:focus, &:hover {
    background-color: transparent;
    border-color: transparent;
    color: #606c76;
  }
}

button.button-clear {
  &:focus, &:hover {
    background-color: transparent;
    border-color: transparent;
    color: #606c76;
  }
}

input {
  &[type='button'].button-clear {
    &:focus, &:hover {
      background-color: transparent;
      border-color: transparent;
      color: #606c76;
    }
  }
  &[type='reset'].button-clear {
    &:focus, &:hover {
      background-color: transparent;
      border-color: transparent;
      color: #606c76;
    }
  }
  &[type='submit'].button-clear {
    &:focus, &:hover {
      background-color: transparent;
      border-color: transparent;
      color: #606c76;
    }
  }
}

.button.button-clear[disabled] {
  &:focus, &:hover {
    color: #9b4dca;
  }
}

button.button-clear[disabled] {
  &:focus, &:hover {
    color: #9b4dca;
  }
}

input {
  &[type='button'].button-clear[disabled] {
    &:focus, &:hover {
      color: #9b4dca;
    }
  }
  &[type='reset'].button-clear[disabled] {
    &:focus, &:hover {
      color: #9b4dca;
    }
  }
  &[type='submit'].button-clear[disabled] {
    &:focus, &:hover {
      color: #9b4dca;
    }
  }
}

code {
  background: #f4f5f6;
  border-radius: .4rem;
  font-size: 86%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre {
  background: #f4f5f6;
  border-left: 0.3rem solid #9b4dca;
  overflow-y: hidden;
  > code {
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
  }
}

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3.0rem 0;
}

input {
  &[type='email'], &[type='number'], &[type='password'], &[type='search'], &[type='tel'], &[type='text'], &[type='url'], &[type='color'], &[type='date'], &[type='month'], &[type='week'], &[type='datetime'], &[type='datetime-local'], &:not([type]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: .6rem 1.0rem;
    width: 100%;
  }
}

textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
}

input {
  &[type='email']:focus, &[type='number']:focus, &[type='password']:focus, &[type='search']:focus, &[type='tel']:focus, &[type='text']:focus, &[type='url']:focus, &[type='color']:focus, &[type='date']:focus, &[type='month']:focus, &[type='week']:focus, &[type='datetime']:focus, &[type='datetime-local']:focus, &:not([type]):focus {
    border-color: #9b4dca;
    outline: 0;
  }
}

textarea:focus {
  border-color: #9b4dca;
  outline: 0;
}

select {
  &:focus {
    border-color: #9b4dca;
    outline: 0;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%239b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  }
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
  padding-right: 3.0rem;
}

textarea {
  min-height: 6.5rem;
}

label, legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input {
  &[type='checkbox'], &[type='radio'] {
    display: inline;
  }
}

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

.container {
  margin: 0 auto;
  max-width: 112.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  &.row-no-padding {
    padding: 0;
    > .column {
      padding: 0;
    }
  }
  &.row-wrap {
    flex-wrap: wrap;
  }
  &.row-top {
    align-items: flex-start;
  }
  &.row-bottom {
    align-items: flex-end;
  }
  &.row-center {
    align-items: center;
  }
  &.row-stretch {
    align-items: stretch;
  }
  &.row-baseline {
    align-items: baseline;
  }
  .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    &.column-offset-10 {
      margin-left: 10%;
    }
    &.column-offset-20 {
      margin-left: 20%;
    }
    &.column-offset-25 {
      margin-left: 25%;
    }
    &.column-offset-33, &.column-offset-34 {
      margin-left: 33.3333%;
    }
    &.column-offset-50 {
      margin-left: 50%;
    }
    &.column-offset-66, &.column-offset-67 {
      margin-left: 66.6666%;
    }
    &.column-offset-75 {
      margin-left: 75%;
    }
    &.column-offset-80 {
      margin-left: 80%;
    }
    &.column-offset-90 {
      margin-left: 90%;
    }
    &.column-10 {
      flex: 0 0 10%;
      max-width: 10%;
    }
    &.column-20 {
      flex: 0 0 20%;
      max-width: 20%;
    }
    &.column-25 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    &.column-33, &.column-34 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
    &.column-40 {
      flex: 0 0 40%;
      max-width: 40%;
    }
    &.column-50 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    &.column-60 {
      flex: 0 0 60%;
      max-width: 60%;
    }
    &.column-66, &.column-67 {
      flex: 0 0 66.6666%;
      max-width: 66.6666%;
    }
    &.column-75 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    &.column-80 {
      flex: 0 0 80%;
      max-width: 80%;
    }
    &.column-90 {
      flex: 0 0 90%;
      max-width: 90%;
    }
    .column-top {
      align-self: flex-start;
    }
    .column-bottom {
      align-self: flex-end;
    }
    .column-center {
      -ms-grid-row-align: center;
      align-self: center;
    }
  }
}

@media (min-width: 40rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem);
    .column {
      margin-bottom: inherit;
      padding: 0 1.0rem;
    }
  }
}

a {
  color: #9b4dca;
  text-decoration: none;
  &:focus, &:hover {
    color: #606c76;
  }
}

dl, ol, ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

dl {
  dl, ol, ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3.0rem;
  }
}

ol {
  dl, ol, ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3.0rem;
  }
}

ul {
  dl, ol, ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3.0rem;
  }
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

.button, button, dd, dt, li {
  margin-bottom: 1.0rem;
}

fieldset, input, select, textarea {
  margin-bottom: 1.5rem;
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin-bottom: 2.5rem;
}

table {
  border-spacing: 0;
  width: 100%;
}

td, th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  text-align: left;
}

td:first-child, th:first-child {
  padding-left: 0;
}

td:last-child, th:last-child {
  padding-right: 0;
}

b, strong {
  font-weight: bold;
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.2rem;
  letter-spacing: -.08rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*# sourceMappingURL=milligram.css.map */
