<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href=" {{ "assets/css/style.css" }}">
<title>{{ site.title }}</title>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<link rel=icon sizes="128x128" href="{{ site.gravatar }}">
<link rel="apple-touch-icon" sizes="128x128" href="{{ site.gravatar }}">
<meta name="theme-color" content="{{ site.theme-color }}">
<!--[if IE]>
<link rel="shortcut icon" href="{{ site.gravatar }}">
<![endif]-->
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ site.seo-image | absolute_url }}" />
<meta property="og:image:secure_url" content="{{ site.seo-image | absolute_url }}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:alt" content="{{ site.description }}" />
<meta property="og:type" content="website" />
