---
layout: default
---
<!--

888       888          888                                                 8888888b.                                    d8b 888         888    888                   888                       888
888   o   888          888                                                 888   Y88b                                   Y8P 888         888    888                   888                       888
888  d8b  888          888                                                 888    888                                       888         888    888                   888                       888
888 d888b 888  .d88b.  888  .d8888b .d88b.  88888b.d88b.   .d88b.          888   d88P .d88b.   .d8888b 888d888 888  888 888 888888      8888888888  8888b.   .d8888b 888  888  .d88b.  888d888 888
888d88888b888 d8P  Y8b 888 d88P"   d88""88b 888 "888 "88b d8P  Y8b         8888888P" d8P  Y8b d88P"    888P"   888  888 888 888         888    888     "88b d88P"    888 .88P d8P  Y8b 888P"   888
88888P Y88888 88888888 888 888     888  888 888  888  888 88888888         888 T88b  88888888 888      888     888  888 888 888         888    888 .d888888 888      888888K  88888888 888     Y8P
8888P   Y8888 Y8b.     888 Y88b.   Y88..88P 888  888  888 Y8b.    d8b      888  T88b Y8b.     Y88b.    888     Y88b 888 888 Y88b.       888    888 888  888 Y88b.    888 "88b Y8b.     888      "
888P     Y888  "Y8888  888  "Y8888P "Y88P"  888  888  888  "Y8888 88P      888   T88b "Y8888   "Y8888P 888      "Y88888 888  "Y888      888    888 "Y888888  "Y8888P 888  888  "Y8888  888     888
                                                               8P
                                                               "
         CDN by IhoCDN
         Alternative APN Sponsored by Fly.io (hope you'll visit it!)
You can't hack my website or hosting, because this was protected by Cloudflare.

-->
<div class="container fadeIn">
    <img src="{{ "assets/img/profile_rz_opti.png" }}" alt="Iho Somnam's Profile">
    <p class="center">&copy; Iho Somnam, 2018 All Rights Reserved. (except photo.)</p>
    <h6 class="center"><a href="/contact">Form Contact</a> | <a href="https://status.ihosomnam.com" target="_blank">Website Status</a>.</h6>
</div>
